/* Set height to 100% for body and html to enable the background image to cover the whole page: */

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/BEBASNEUE-REGULAR.TTF);
  }
  
  @font-face {
    font-family: elecs;
    src: url(../fonts/DEBUGFREETRIAL-MVDYB.OTF);
  }
  
  body, html {
    height: 100%;
    background-color: black;
  }
  
  .bgimg {
    /* Background image */
    /* background-color: black; */
    background-image: url('../img/wallpaper.png');
    opacity: 0.93;
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: 40% 100%;
    background-repeat: no-repeat;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    /* position: relative; */
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    
    /* Set the font-size to 25 pixels */
    
    line-height: 144px;
    display: flex;
    align-items: center;
  }
  
  
  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: myFirstFont;
    font-size: 50px;
  
    transform: translate(-50%, -50%);
    text-align: center;
    mix-blend-mode: difference;
    opacity: 0.85;
  }
  
  .middle:hover{
    opacity: 1;
  }
  
  
  .how_to_play{
    position: absolute;
    top: 5%;
    left: 65%;
    font-family: myFirstFont;
    font-size: 10px;
  }
  
  
  
  .button-64{
    position: absolute;
    top: 70%;
    bottom: 5;
    left: 25%;
    width: 10px; 
    /* height: 50px; */
    text-align: center;
  
    /* align-items: center; */
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 50%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  
    
    
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }
  
  .button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .button-64 {
      font-size: 29px;
      min-width: 196px;
    }
  }
  
  #play_button{
    position: absolute;
    top: 80%;
    bottom: 5;
    left: 25%;
    width: 10px; 
    text-align: center;
    font-family: elecs;
  }
  
  #leaderboard_button{
    /* font-size: 30px; */
    position: absolute;
    top: 80%;
    bottom: 5;
    left: 55%;
    width: 10px; 
    text-align: center;
    font-family: elecs;
  }

  #taking_input{
    align-items: center;
    
  }
  #name{
    position: absolute;
    right: 20%;
    left: 35%;
    bottom: 25%;
    height: 20px;
}
#submit_name{
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 20%;
  height: 28px;
  font-size: 18px;
  align-content: center;
}